@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  html, body {
    @apply h-full antialiased;
  }

  body {
    @apply bg-background text-foreground;
  }

  #root {
    @apply h-full;
  }
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: hsl(215.4 16.3% 46.9%) hsl(210 40% 96.1%);
}

.scrollable::-webkit-scrollbar {
  @apply w-1.5;
}

.scrollable::-webkit-scrollbar-track {
  @apply bg-muted rounded-full;
}

.scrollable::-webkit-scrollbar-thumb {
  @apply bg-muted-foreground/50 rounded-full hover:bg-muted-foreground/70 transition-colors;
}